# Important setup
/*
/*/
!/src/
!/src/*
*.DS_Store*
!/gradle/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# OPTIONAL - release JARs
!/build/
/build/*
!/build/libs/
/build/libs/*sources*

#Mac setup script
!/mac_setup.command